
        #map { height: 100vh; width: 100vw; }
        .leaflet-popup-content-wrapper { border-radius: 8px; }
        .leaflet-control-layers { border-radius: 5px; box-shadow: 0 1px 5px rgba(0,0,0,0.4); }
        .map-add-mode { cursor: crosshair !important; }
        .map-query-mode { cursor: help !important; }
        /* Style cho thanh trượt dọc */
        input[type=range][orient=vertical] {
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            width: 8px;
            height: 100px;
            padding: 0 5px;
        }
        /* --- CSS CHO GHIM NHÓM MÀU VÀNG --- */
        .marker-cluster-yellow {
            background-color: rgba(241, 211, 87, 0.6) !important; /* Màu nền vàng nhạt */
        }
        .marker-cluster-yellow div {
            background-color: rgba(240, 194, 12, 0.6) !important; /* Màu nền vàng đậm hơn */
        }
        /* Thêm vào trong thẻ <style> */
        .thong-tin-dia-chinh table {
            width: 100%;
            border-collapse: collapse;
        }
        .thong-tin-dia-chinh td {
            padding: 4px 0;
        }
        .thong-tin-dia-chinh td:first-child {
            padding-right: 10px; /* Tạo khoảng cách giữa nhãn và giá trị */
            white-space: nowrap;
        }
        .thong-tin-dia-chinh .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 5px;
        }
        .thong-tin-dia-chinh .actions button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: #555;
            transition: color 0.2s;
        }
        .thong-tin-dia-chinh .actions button:hover {
            color: #000;
        }
    